.button {
    display: flex;
    align-items: center;
    background: none;
    padding: 0em 1em;
    transition: all 0.4s ease-in-out;
}

.buttonOne {
    background: none;
}

.buttonTwo {
    background: none;
}

.buttonEmphasize {
    background: rgba(255, 215, 112, 0.01);
    mix-blend-mode: normal;
    box-shadow: 0px 0px 35px 1px #000000;
    border-radius: 10px;
}

.buttonContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


.buttonBackground {
    display: flex;
    align-items: center;
    aspect-ratio: auto 1920 / 1080;
    min-width: 600px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1E1E1E;

    transition: all 0.7s ease-in-out;
}

.buttonOneBackground {
    background-color: #1e1e1ed0;
    background-image: url("../images/Background1.png");
    animation: open 0.6s forwards ease-in-out;  
}

.buttonTwoBackground {
    background-color: #1e1e1ed0;
    background-image: url("../images/Background2.png");
    animation: open 0.6s forwards ease-in-out;
}

.buttonOneBackgroundShow {      
  
}

.buttonTwoBackgroundShow {
  
}

@keyframes open {
    0% {
      opacity: 0.8;     
    }  
    100% {
      opacity: 1;      
    }
  }



.logo {
    width: 200px;
    height: 80px;
}

.company {
    width: 30px;
    height: 30px;
}